.customers-paginator
    .customers-counter Showing data 1 to 8 of  256K entries
    .customers-pages
        .arrow-prew <
        ul.pages-list
            li.page.active 1
            li.page 2
            li.page 3
            li.page 4
            li.page ...
            li.page 40
        .arrow-next >